.container-taskItem{

    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color:  #F4ECDC;
    box-shadow: 22px 0px 10px rgba(0, 0, 0, 0.1);


}

h3 {
    display: flex;
    justify-content: center;
    color: #ffbf00;     
    padding: 20px;
    margin: 0;
    
    background-color: #182733;
}


p {
    color: #666;
  }
  
span {
    display: block;
    margin-top: 5px;
    color: #888;
  }
  
button {
    display: flex;
    margin-top: 10px;
    padding: 8px 12px;
    background-color:#1bb0ce;
    color: #080C0F;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
  }
  
button:hover {
    background-color:  #080C0F ;
    color: #1bb0ce;
  }

  
  .trashIcon {
    margin: 10px;
    }


  .completedTask p{
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: xx-large;
    color: brown;
  }

  .completedTask h3{
    text-decoration: line-through;
    text-align: center;
    color: #CBEBF3;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    background-color: #00565C;
  }

  .btn-completed{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 153, 0);
    font-weight: bold;


  }


  .buttons{
    display: flex;
    justify-content: space-between;
  }

  .completedButtons{
     display: flex;
    justify-content: space-between;

  }