.controls {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  }


.searchInput {
  padding: 8px;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  }

  label {
    color: #ccc;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }


