.messege {
    color: #CBEBF3;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}